{% extends "base.html" %}


{% block content %}
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

<div class="status status_closed">{{page.info.status}}</div>
<h1>{{page.title}} Station</h1>

{{page}}
<ul>
{% for rec in page.info.lines %}
<li><a href="{{rec.path}}">{{rec.name}}</a>{{rec}}</li>
{% endfor %}
</ul>


<table>

 <tr><th>Lat:</th><td>{{page.info.position.lat}}#</td></tr>
 <tr><th>Lng:</th><td>{{page.info.position.lng}}</td></tr>

</table>
<div id="mapid"></div>


<h4>Nearby Station</h4>
<ul>
{% for rec in page.info.nearby %}
<li><a href="{{rec.path}}">{{rec.name}}</a></li>
{% endfor %}
</ul>


{% endblock %}



{% block footer %}

<style>
#mapid { height: 500px; }


.md-sidebar--secondary {
    display: none;
}

.md-content {
    margin-right: 0;
}

</style>

 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>

<script>

var Pos = [{{page.info.position.lng}}, {{page.info.position.lat}}]

var mymap = L.map('mapid').setView(Pos, 13);


L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoicGVkcm9tb3JnYW4iLCJhIjoiY2s3Nzg4azF3MDRwdzNvcGh5cXE5bjAyZiJ9.Bry79aB3OoladY6R94rxYQ'
}).addTo(mymap);

var marker = L.marker(Pos).addTo(mymap);

</script>

{% endblock %}