{% extends "base.html" %}



{% block content %}
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

{{super()}}



<div id="mapid"></div>




{% set kii = page.meta.data_key %}
{% set blobb = config.extra[kii] %}


<h4>Stations</h4>
<ul>
{% for sta in blobb.stations %}
 <li><a href="{{sta.path}}">{{sta.title}}</a></li>
{% endfor %}
</ul>


{% if page.meta.youtube %}
{% for keyy in page.meta.youtube %}
<iframe width="100%" height="500"
        src="https://www.youtube.com/embed/{{keyy}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endfor %}
{% endif %}



<h4>Data &amp; Downloads</h4>
<dl>

  <dt>KML Link <small>(<a href="/google_earth/">more</a>)</small></dt>
  <dd><a href="{{config.site_url}}{{page.meta.folder}}/{{page.meta.folder}}.kml">{{config.site_url}}{{page.meta.folder}}/{{page.meta.folder}}.kml</a></dd>

    <dt>GeoJSON Layers</dt>
    <dd><a href="{{config.site_url}}{{page.meta.folder}}/data.geojson">{{config.site_url}}{{page.meta.folder}}/data.geojson</a></dd>

     <dt>Data in JSON</dt>
    <dd><a href="{{config.site_url}}{{page.meta.folder}}/data.json">{{config.site_url}}{{page.meta.folder}}/data.json</a></dd>
</dl>



{% endblock %}


{% block next_prev %}
{% endblock %}




{% block footer %}

<style>
#mapid { height: 600px; }

.md-sidebar--secondary {
    display: none;
}

.md-content {
    margin-right: 0;
}
</style>





{{super()}}


 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>

<script src="/_static/common.1.js"></script>
<script src="data.js"></script>
<script>



window.onload = SetupLineMap;
</script>

{% endblock %}