{% extends "base.html" %}



{% block content %}
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>




<div id="mapid"></div>


{% endblock %}




{% block footer %}

<table width="100%">
<tr>
    <td><a href="/" class="butt">KML</a> </td>
    <td><input type="url" value="{{config.site_url}}/dsada/foo.kml" width="500"></td>
</tr>

 <tr>
    <td><a href="/" class="butt">GeoJSON</a> </td>
    <td><input type="url" value="{{config.site_url}}/dsada/data.geojson" width="500"></td>
</tr>

 <tr>
    <td><a href="/" class="butt">meta.json</a> </td>
    <td><input type="url" value="{{config.site_url}}/dsada/meta.json" width="500"></td>
</tr>
</table>


{{super()}}
<style>
#mapid { height: 600px; }

.md-sidebar__inner {
    display: none;
}


.md-sidebar--secondary {
    display: none;
}

.md-content {
    margin-right: 0;
    margin-left: 0;
}
</style>

 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>

<script src="/_static/common.1.js"></script>
<script src="/index.js"></script>

<script>
window.onload = SetupMegaMap;
</script>

{% endblock %}