

h1 {
    border-bottom: 1px solid #eeeeee;
}

.status {
    float: right;
    padding: 5px;
}

.status_closed {
    background-color: pink;
}

.butt_bar {
    margin-top: 10px;
    margin-bottom: 10px;
}


.butt {
    border-radius: 4px;
    padding: 5px;
    background-color: #dddddd;
    color: white;
}


